:root {
    --primary-color: rgba(13, 110, 139,  0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

.main-header {
    width: 100%;
    background: linear-gradient(to left, #4e94ab, #4e94ab 40%, white); 
    display: flex;
    justify-content: space-between;
    height: 4.65rem;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

h1 {
    padding: 0;
    border: 0;
    margin: 0; 
}

.img-logo-menu-wrap {
    padding: 0;
    border: 0;
    margin: 0;
    height: 4.5rem;
    width: 16.5rem;
    margin-left: 5rem;
}

.menu-wrap {
    display: none;
}

.main-menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.main-menu li {
    border-right: 0.0625rem solid #fff;
    height: 4.6rem;
}

.main-menu li:hover {
    background: rgba(0, 0, 0, 0.3);
}

.main-menu li a {
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    align-items: center;
}

@media (max-width:768px) {
    .main-header {
        display: none;
    }

    .menu-wrap {
        display: flex;
        position: sticky;
        top: 0;
        right: 0;
        z-index: 1;
        background: linear-gradient(to left, #4e94ab, #4e94ab 40%, white);  
    }

    .menu-wrap .toggler {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 3.50rem;
        height: 3.50rem;
        opacity: 0;
    }
    
    .hamburger {
        width: 3.50rem;
        height: 3.50rem;
    }

    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 0.5rem;
        background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-wrap .hamburger > div {
        position: relative;
        width: 100%;
        height: 0.125rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    
    .menu-list {
        list-style-type: none;
    }
    
    .menu-wrap .hamburger:before,
    .menu-wrap .hamburger:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    
    .menu-wrap .hamburger:after {
        top: 10px;
    }  
 
    .menu-wrap .toggler:checked + .hamburger {
        transform: rotate(360deg);
        transition: 0.5s;
    }
    
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
    
    .menu-wrap .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: var(--menu-speed);
    }
    
    .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition: opacity 0,4s ease;
    }
    
    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-wrap .menu > div {
        background: var(--overlay-color);
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
    
    .menu-wrap .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-width: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu li {
        list-style: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    .menu-wrap .menu  a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }
