.html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
}

.body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    top: 0;
    margin: 0;
}

.main {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 1rem;

}

.galac_listadeprogramas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
    flex-wrap: wrap;
}

.container-ficha-sistema {
    margin: 0.3125rem;
    padding: 0.625rem;
    box-shadow: 0 8px 15px -5px rgba(1, 1, 1, .5);
    border-radius: 0.5rem;     
}

.container-ficha-sistema:hover {
    cursor: pointer;
    transform: translateX(-1rem);
}

.container-img-sistema {
    width: 15rem;
    height: 16.625rem;
    background: rgb(248, 248, 248);
    margin: auto;
}

.boton-masinfo {
    display: inline-block;
    border: none;
    border-radius: 0.5rem;
    background: #27657a;
    color: #fff;
    padding: 3px;
    margin-left: 2px;
}

.galac_listadeprogramas > a {
    text-decoration: none;
    cursor: default;
}

.galac_listadeprogramas > a:visited {
    text-decoration: none;
    cursor: default;
    color: black;
}

.tituloh2 {
    color: black;
    font-size: 2rem;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
}

.titulo-programa {
    font-size: 1.5rem;
}

.descripcion-admin {
    width: 100%;
    margin: auto;
}

.title3 {
    font-size: 1rem;
    color: #4e94ab;
}

.img-descripcion, 
.img-caracteristicas {
    float: left;
}

.img-beneficios {
    float: right;
}

/* productos */


@media (max-width:768px) {
    .galac_listadeprogramas {
        flex-wrap: wrap;
    }
}