.pagina_presentacion {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imagen-principal {
    width: 30rem;
    height: 22rem;
    animation-duration: 2s;
    animation-name: animation-imagen-principal;
}

.parrafos-principales {
    margin-left: 5%;
    margin-bottom: 0
}

.boton-principal {
    background: #4e94ab;
    border-radius: 5px;
    color: white;
    text-align: center;
    border-left: 9px solid #4e94ab;
    border-right: 9px solid #4e94ab;
    border-bottom: 9px solid #4e94ab;
    border-top: 5px solid #4e94ab;
}

.animation-left {
    animation-duration: 2s;
    animation-name: animation-left;
}

.imagen-central {
    margin-left: 30%; 
}

.informacion_publicitaria {
    display: flex;
    font-weight: bold;
    padding: 1rem;
    margin-left: 8rem;
    margin-right: 8rem;
    /*flex-wrap: wrap;*/
}
    
.container_productos {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.container_productos img {
    width: 7.5rem;
    height: 8.3125rem;
    padding: 0;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.container_productos p {
    font-size: 0.75rem;
    margin-left: 1rem;
    font-weight: 900;
}

hr {
    margin-left: 10rem;
    margin-right: 10rem;
}

.titulos {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 200%;
}

.frase {
    margin-top: 0;
    margin-bottom: 0;
}

.primero {
    margin-top: 1rem;
}

.titulos1 {
    margin-left: 30%;
    font-weight: bold;
}
.titulos2 {
    margin-left: 40%;
}

.aliados_negocio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.aliados_negocio img {
    padding: 1.5rem;
}

@keyframes animation-left {
    0% {
      transform: translateY(-2000px);
    }
    100% {
      transform: translateY(0);
    }
  }

@keyframes animation-imagen-principal {
    0% {
      transform: translateX(-2000px);
    }
    100% {
      transform: translateX(0);
    }
  }








