:root {
    --primary-color: rgba(13, 110, 139,  0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

.html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
}

.body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    top: 0;
    margin: 0;
}

/* barra de navegacion */
.main-header {
    width: 100%;
    background: linear-gradient(to left, #4e94ab, #4e94ab 40%, white); 
    display: flex;
    justify-content: space-between;
    height: 4.65rem;
}

.header {
    position: sticky;
    top: 0;
}

h1 {
    padding: 0;
    border: 0;
    margin: 0; 
}

.img-logo, .img-logo-menu-wrap {
    padding: 0;
    border: 0;
    margin: 0;
    height: 4.5rem;
    width: 16.5rem;
    margin-left: 5rem;
}

.main {
    max-width: 60rem;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}


@media (max-width:768px) {
    .main-header {
        display: none;
    }

    .menu-wrap {
        display: flex;
        position: sticky;
        top: 0;
        right: 0;
        z-index: 1;
        background: linear-gradient(to left, #4e94ab, #4e94ab 40%, white);  
    }

    .menu-wrap .toggler {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 3.50rem;
        height: 3.50rem;
        opacity: 0;
    }
    
    .hamburger {
    width: 3.50rem;
    height: 3.50rem;
}

    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 0.5rem;
        background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-wrap .hamburger > div {
        position: relative;
        width: 100%;
        height: 0.125rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    
    .menu-list {
        list-style-type: none;
    }
    
    .menu-wrap .hamburger:before,
    .menu-wrap .hamburger:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    
    .menu-wrap .hamburger:after {
        top: 10px;
    }  
 
    .menu-wrap .toggler:checked + .hamburger {
        transform: rotate(360deg);
        transition: 0.5s;
    }
    
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
    
    .menu-wrap .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: var(--menu-speed);
    }
    
    .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition: opacity 0,4s ease;
    }
    
    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-wrap .menu > div {
        background: var(--overlay-color);
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
    
    .menu-wrap .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-width: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu > div > div > ul > li {
        list-style: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    .menu-wrap .menu > div > div > ul > li > a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }
}

/*main*/
.pagina_presentacion {
    display: flex;
    justify-content: space-between;
}

.imagen-principal {
    width:35rem;
    height: 25rem;
}

.parrafos-principales {
    margin-left: 10%
}

.imagen-central {
    margin-left: 30%;
    width: 30rem;
    height: 30rem;
    padding: 0;
    
}

.informacion_publicitaria {
    display: flex
}
    
.container_productos {
    display: flex;
    justify-content: center;
}

.container_productos img {
    width: 7.5rem;
    height: 8.3125rem;
    padding: 0;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

.container_productos p {
    font-size: 0.75rem;
    margin-left: 1rem;
    font-weight: 900;
}

hr {
    margin-left: 12rem;
    margin-right: 12rem;
}

.titulos {
    margin-left: 45%
}

.aliados_negocio {
    display: flex;
    justify-content: center;
}

.aliados_negocio img {
    padding: 1.5rem;
}






