.main {
    max-width: 60rem;
    margin: auto;
    padding: 0 3rem;
    display: flex;
}

.formulario {
    width: 22rem;
    margin: auto;
    background: rgba(0, 0, 0, 0.288);
    padding: 0.5rem, 1rem;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    border-radius: 1rem;
}

.titulo-contacto {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;  
}

.campus {
    width: 94%;
    margin-bottom: 1.5rem;
    margin-left: 3%;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 1rem;
}

.textarea {
    min-height: 6rem;
    max-height: 12rem;
    max-width: 100%;
}

.button {
    background: #4e94ab;
    color: #fff;
    padding: 1.2rem;
}
.button:hover {
    cursor: pointer;
}

.tituloh2 {
    color: black;
    font-size: 2rem;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;
}

hr {
    max-width: 60%;
}

.banner-contacto {
    display: block;
    border-radius: 1rem;
    margin: auto;
    margin-top: 1rem;
    max-width: 70%;
}

@media (max-width:768px) {
    .main{
        flex-wrap: wrap;
    }
}

