:root {
    --primary-color: rgba(13, 110, 139,  0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    top: 0;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    height: 4.6rem;
    min-height: 4.6rem;
    min-width: 840px;
    background: linear-gradient(to left, #4e94ab, #4e94ab 40%, white);
    font-family: 'Roboto', sans-serif;
}

.titulo1 {
    padding: 0;
    border: 0;
    margin: 0; 
}

.btn-list {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0;
    list-style: none;
    padding: 0;
}

.btn-list li {
    border-right: 0.0625rem solid #fff;
    height: 4.6rem;
}

.btn-list li:hover {
    background: rgba(0, 0, 0, 0.3);
}

.btn-list li a {
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    align-items: center;
}

.burger {
    display: none;
}

.toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 3.50rem;
    height: 3.50rem;
    opacity: 0;
}

@media screen and (max-width:768px) {
    .header {
        overflow: hidden;
        min-height: 56px;
        height: 56px;
        min-width: 740px;
    }

    .btn-list {
        position: absolute;
        right: 0;
        top: 56px;
        background: linear-gradient(to left, #4e94ab, #4e94ab 40%, white);;
        display: flex;
        opacity: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-out;    
    }

    .btn-list li {
        border-bottom: 0.0625rem solid #fff;
        border-right: 0;
        height: 4.6rem;
        width: 100%;
    }

    .btn-list li a {
        color: black;
        text-decoration: none;
        align-items: center;
        width: 100%;
        font-weight: bold;
    }

    .img-logo {
        width: 80%;
        height: 80%;
    }

    .burger {
        width: 3.50rem;
        height: 3.50rem;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 0.5rem;
        background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.nav-active {
    transform: translateX(0%);
    opacity: 1;
}