:root {
    --primary-color: rgba(13, 110, 139,  0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

.html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
}

.body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    top: 0;
    margin: 0;
}

@media (max-width:768px) {
    .botones {
        flex-wrap: wrap;  
    }   
}

/* ficha de productos */

.main {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
}

.section {
    margin: auto;
}

.botones {
    display: flex;
    margin: 1rem;
    margin-left: 0;
    justify-content: left;
    align-items: center;
    list-style: none;
    padding: 0;
}

.botones li {
    list-style: none;
    font-size: 1.5rem;
    background: #4e94ab;
    border-radius: 0.5rem;
    margin: 1rem;
    margin-left: 0;
    margin-right: 2rem;
    box-sizing: border-box;
    box-shadow: 0 8px 15px -5px rgba(1, 1, 1, 1);
}

.botones li:hover {
    cursor: pointer;
    -webkit-transform:scale(1.2); transform:scale(1.2);
}

.botones a {
    text-decoration: none;
    margin: 0;
    margin-left: 0;
    padding: 1rem;
    color: #fff;
}

.icon-descrpcion {
    float: left;
}

.icon-beneficios {
    float: right;
}

.container-info p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.container-info {
}



