:root {
    --primary-color: rgba(13, 110, 139,  0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

.html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
}

.body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    top: 0;
    margin: 0;
}

/* barra de navegacion */
.main-header {
    width: 100%;
    background: linear-gradient(to left, #4e94ab, #4e94ab 40%, white); 
    display: flex;
    justify-content: space-between;
    height: 4.65rem;
}

.header {
    position: sticky;
    top: 0;
}

h1 {
    padding: 0;
    border: 0;
    margin: 0; 
}

.img-logo, .img-logo-menu-wrap {
    padding: 0;
    border: 0;
    margin: 0;
    height: 4.5rem;
    width: 16.5rem;
    margin-left: 5rem;
}

.main {
    max-width: 60rem;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
    display: flex; /*Pertene al main*/
    align-items: center; /*Pertenece al main*/
    justify-content: center; /*Pertenece al main*/
    padding: 0.5rem; /*Pertenece al main*/
    height: 100vh;
}

/* menu hamburguesa */
.menu-wrap {
    display: none;
}

.main-menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.main-menu li {
    border-right: 0.0625rem solid #fff;
    height: 4.6rem;
}

.main-menu li:hover {
    background: rgba(0, 0, 0, 0.3);
}

.main-menu li a {
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    align-items: center;
}

.titulo-programa {
    font-size: 1.5rem;
}

.descripcion-admin {
    width: 100%;
    margin: auto;
}

.title3 {
    font-size: 1rem;
    color: #4e94ab;
}

.img-descripcion, 
.img-caracteristicas {
    float: left;
}

.img-beneficios {
    float: right;
}


@media (max-width:768px) {
    .main-header {
        display: none;
    }

    .menu-wrap {
        display: flex;
        position: sticky;
        top: 0;
        right: 0;
        z-index: 1;
        background: linear-gradient(to left, #4e94ab, #4e94ab 40%, white);  
    }

    .menu-wrap .toggler {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 3.50rem;
        height: 3.50rem;
        opacity: 0;
    }
    
    .hamburger {
    width: 3.50rem;
    height: 3.50rem;
}

    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 0.5rem;
        background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-wrap .hamburger > div {
        position: relative;
        width: 100%;
        height: 0.125rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    
    .menu-list {
        list-style-type: none;
    }
    
    .menu-wrap .hamburger:before,
    .menu-wrap .hamburger:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    
    .menu-wrap .hamburger:after {
        top: 10px;
    }  
 
    .menu-wrap .toggler:checked + .hamburger {
        transform: rotate(360deg);
        transition: 0.5s;
    }
    
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
    
    .menu-wrap .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: var(--menu-speed);
    }
    
    .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition: opacity 0,4s ease;
    }
    
    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-wrap .menu > div {
        background: var(--overlay-color);
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
    
    .menu-wrap .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-width: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu > div > div > ul > li {
        list-style: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    .menu-wrap .menu > div > div > ul > li > a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }
}

/*main*/

.imagenes-slide {
    max-width: 100%;
}

.contenedor_imagenes-slide {
    max-width: 58.75rem;
    width: 100%;
    overflow: hidden;
}

h2 {
    display: none;
}

.slide {
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide {
    position: relative;
    /*display: flex;*/
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.item-slide img {
    width: 58.75rem;
    height: 27rem;
    border-radius: 0.625rem;

}

.pagination {
    position: absolute;
    bottom: 1rem;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item {
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 1rem;
    height: 1rem;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255,255,255, 0.5);
    margin: 0, 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover {
    transform: scale(2);
}

.pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    /*opacity: 0;*/
    transition: all 600ms;/*eran 300ms*/
}

.pagination-item:hover img {
    /*opacity: 1;*/
    transform: scale(1);
}

input [id="1"]: :checked ~ .slide {
    animation:none;
    transform: trasladate3d(0,0,0);
}

input [id="1"]: :checked ~ .pagination .pagination-item [for="1"]{
    background: #4e94ab;
}

input [id="2"]: :checked ~ .slide {
    animation:none;
    transform: trasladate3d(calc(-100% * 1),0,0);
}

input [id="2"]: :checked ~ .pagination .pagination-item [for="2"]{
    background: #4e94ab;
}

input [id="3"]: :checked ~ .slide {
    animation:none;
    transform: trasladate3d(calc(-100% * 2),0,0);
}

input [id="3"]: :checked ~ .pagination .pagination-item [for="3"]{
    background: #4e94ab;
}

input [id="4"]: :checked ~ .slide {
    animation:none;
    transform: trasladate3d(calc(-100% * 3),0,0);
}

input [id="4"]: :checked ~ .pagination .pagination-item [for="4"]{
    background: #4e94ab;
}

@keyframes autoplay{
    25%{
        transform: translate3d(calc(-100% * 0),0,0);
    }
    50%{
        transform: translate3d(calc(-100% * 1),0,0);
    }
    75%{
        transform: translate3d(calc(-100% * 2),0,0);
    }
    100%{
        transform: translate3d(calc(-100% * 3),0,0);
    }
}

.container_productos {
    display: flex;
    justify-content: center;
}

.container_productos img {
    width: 7.5rem;
    height: 8.3125rem;
    padding: 0;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

.container_productos p {
    font-size: 0.75rem;
    margin-left: 2.5rem;
    font-weight: 900;
}

hr {
    margin-left: 12rem;
    margin-right: 12rem;
}

.titulos {
    margin-left: 45%
}

.aliados_negocio {
    display: flex;
    justify-content: center;
}

.aliados_negocio img {
    padding: 1.5rem;
}





