.html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
}

.body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    top: 0;
    margin: auto;
}

.pagina_presentacion {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.slide {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    max-width: 937px;
    max-height: 431px;
}

.parrafos-principales {
    margin-left: 5%;
}

.parrafos {
    font-weight: 200%;
    margin-bottom: 0;
    margin-top: 0;
}

.separacion {
    margin-top: 2rem;
}

.espacio {
    margin-bottom: 2rem;
}

.boton-principal {
    background: #4e94ab;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    border-left: 1rem solid #4e94ab;
    border-right: 1rem solid #4e94ab;
    border-bottom: 1rem solid #4e94ab;
    border-top: 0.5rem solid #4e94ab;
}

.animation-left {
    animation-duration: 2s;
    animation-name: animation-left;
}

.imagen-central {
    margin-left: 40%;
    width: 100%;
    height: 100%;
    max-width: 548px;
    max-height: 311px;
}

.informacion_publicitaria {
    display: flex;
    font-weight: bold;
    padding: 1rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

.informacion {
    padding: 1rem;
}
    
.container_productos {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.container_productos img {
   width: 7.5rem;
    height: 8.3125rem;
    padding: 0;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.container_productos li {
    list-style: none;
}

.container_productos p {
   font-size: 0.75rem;
    margin-left: 1rem;
    font-weight: 900;
}

hr {
    margin-left: 10rem;
    margin-right: 10rem;
}

.titulos {
    color: black;
    font-size: 1.5rem;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;
}

.titulos1 {
    font-weight: bold;
}

.aliados_negocio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.aliados_negocio img {
    padding: 1.5rem;
}

@media (max-width:768px) {
    .informacion_publicitaria {
        display: flex;
        flex-wrap: wrap;
}










