.html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
}

.body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    top: 0;
    margin: auto;
    background: #f5f5f5;
}

.main {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 1rem;
    max-width: 100%;
}

hr {
    max-width: 80%;
}

.banner-team {
    display: block;
    border-radius: 1rem;
    margin: auto;
    margin-top: 1rem;
    max-width: 100%;
}

.imagen-perfil {
    width: 16.25rem;
    height: 20rem;
}

.container-interior {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 70%;
    flex-wrap: wrap;
}

.container-ficha {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-inner-ficha {
    margin: auto;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 8px 15px -5px rgba(1, 1, 1, .5);
    width: 16.25rem;
}

.tituloh2 {
    color: black;
    font-size: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;
}

@media (max-width:768px) {
   
}